{#
/**
 * @file
 * Template for the notifcation availability.
 *
 * Available variables:
 * - order_item_label: The label of the order item.
 * - purchasable_entity_label: The label of the purchasable entity.
 * - purchasable_entity_link: The canonical link to purchasable entity.
 *
 * @ingroup themeable
 */
#}
{% block header %}
  <p>
    <strong>{{ 'We want to let you know that item @label is now available for purchase!'|t({'@label': order_item_label}) }}</strong>
  </p>
{% endblock %}

{% block footer %}
  <p>
    {{ 'Click on the link below to buy the product now!'|t }}
  </p>
  {% block cta %}
    <p>
      <a href="{{ purchasable_entity_link }}">{{ 'Buy now'|t }}</a>
    </p>
  {% endblock %}
{% endblock %}
